<% if user_signed_in? %>
  <% link_to('Logout', destroy_user_session_path) %>
<% else %>
  <!-- TODO: Fazer o login -->
  <% link_to('Login', new_user_session_path)  %>
  <a href="javascript:;" onclick="ShowHide(); return false;" class="login-link"><img src="http://imagem.zipme.com.br/css/images/login-icon.gif" border="0" />Login</a>
<% end %>
