<% if user_signed_in? %>
  <%= link_to('Edit account', edit_user_registration_path) %>
<% else %>
  <%= link_to(image_tag('cadastro-icon.gif')+ 'Cadastre-se', new_user_registration_path)%>
  <span class="separador-login"> | </span>
<% end %>
