<div id="corpo">
  <div class="janela grande titulo">
    <div class="cima"></div>
		<div class="meio">
      <h1>Informações - Ajuda</h1>
    </div>
		<div class="baixo"></div>
  </div>
  <div class="grande">
    <div class="janela menu">
      <div class="cima"></div>
			<div class="meio sobre">
			  <div id="help">
				  <h3 class="category">Sobre o acessozero</h3>
					<dl>
					  <dt><a href="#">O que é o acessozero?</a></dt>
						<dd>O acessozero é um portal de dicas e avaliações de serviços locais em sua cidade. Para você conhecer novos estabelecimentos e compartilhar sua experiência de consumo, o acessozero oferece ofertas com até 90% de desconto.</dd>
					</dl>
          <h3 class="category">Primeiros passos - Criando meu perfil</h3>
					<dl>
					  <dt><a href="#">Como criar um perfil no acessozero?</a></dt>
						<dd>Basta clicar em “Criar seu perfil” no destaque da página inicial ou no canto direito do cabeçalho das páginas. Outra forma é quando você tenta acessar alguma área restrita no portal. Nesse caso será exibida uma janela para você se logar ou se cadastrar no portal.</dd>
						<dt><a href="#">Por que conectar minha conta da acessozero com a do Facebook?</a></dt>
						<dd>É possível criar sua conta da acessozero integrando sua própria conta do Facebook. Basta clicar no botão “Entrar com o Facebook”, dentro de área de criação do perfil, ou em qualquer momento que aparecer uma janela pedindo para que você se logue para ver as ofertas ou interagir. Entrando com a sua conta do Facebook você terá inúmeras vantagens, como poder ver o que seus conhecidos estão fazendo na acessozero.</dd>
						<dt><a href="#">Como integrar minha conta no Twitter?</a></dt>
						<dd>É possível integrar sua conta no Twitter logo após seu cadastro ou acessando a área de configurações (no cabeçalho, apenas para usuários logados) e clicando depois na aba Twitter.</dd>
					</dl>
          <h3 class="category">Configurando sua conta</h3>
					<dl>
					  <dt><a href="#">Como faço para parar ou ativar os e-mails que o acessozero envia?</a></dt>
						<dd>Vá até o menu de configurações, no cabeçalho da página (você precisa estar logado) e clique em notificações. Utilize os checkboxes para marcar e desmarcar os e-mails que você deseja receber e clique no botão Salvar.</dd>
						<dt><a href="#">Porque é importante preencher seu perfil?</a></dt>
						<dd>Saber quem você é diz muito para o acessozero ou você aceitaria a opinião de um sujeito sem nome, sem casa? Mostrar a cara, bonita ou não, faz diferença. Mantenha seu perfil atualizado para aumentar suas chances de encontrar tickets.</dd>
					</dl>
          <h3 class="category">Dicas e avaliações</h3>
					<dl>
					  <dt><a href="#">Qual a diferença entre dicas e avaliações?</a></dt>
						<dd>As dicas são voltadas para você compartilhar os pontos fortes de um estabelecimento, aquilo que você recomendaria para um amigo. As dicas mais concordadas são valorizadas no portal. Já a área de avaliações serve para você deixar um depoimento com sua experiência de consumo. As avaliações podem ter três status: satisfações, insatisfações ou conciliações.</dd>
						<dt><a href="#">O que são dicas especiais?</a></dt>
						<dd>São dicas que o estabelecimento escolhe e cadastra mais informações como textos, fotos e vídeo.</dd>
						<dt><a href="#">Como funciona a publicação das insatisfações e conciliações?</a></dt>
						<dd>Quando você faz uma insatisfação, o responsável pelo estabelecimento tem até 72h para respondê-la antes que ela ser torne pública. Ao responder, o usuário é convidado a tomar um partido: se aceita a conciliação ou se continua insatisfeito. Se o usuário não tomar nenhum partido, essa avaliação ficará oculta para outros usuários. Caso ele tome partido e faça sua justificativa, o próprio usuário poderá escolher se mantém a conversa privada (oculta) ou pública. O objetivo da ferramenta é permitir o relacionamento entre as partes mas com responsabilidade e segurança.</dd>
						<dt><a href="#">Posso fazer uma avaliação em algum estabelecimento sem ter utilizado um ticket?</a></dt>
						<dd>Sim. Basta você ter um perfil cadastrado para escrever seu depoimento.</dd>
					</dl>
          <h3 class="category">Como encontrar e comprar ofertas</h3>
					<dl>
					  <dt><a href="#">Como encontro as ofertas no acessozero?</a></dt>
						<dd>
						  <dl>
							  <dt>- Utilizando o resultado de busca</dt>
								<dd>No topo do resultado de busca há um carrossel com ofertas disponíveis ligadas ao que você buscou. São dezenas de ofertas relacionadas, basta navegar pelas setas. Além do carrossel, os estabelecimentos encontrados com ofertas disponíveis possuem uma etiqueta verde com a mensagem "até 90% off". Veja alguns exemplos: sushi, estética, pizza, academia;</dd>
                <dt>- Utilizando o diretório de estabelecimentos</dt>
								<dd>A nova categorização do acessozero foi pensada para você encontrar os melhores estabelecimentos de acordo com um segmento ou bairro. Na lista de estabelecimentos, confira a nova aba de "Ofertas quentes";</dd>
                <dt>- Habilitando suas notificações</dt>
								<dd>Na sua área de configurações, certifique-se que o “aviso de tickets disponíveis” e o “resumo semanal de atividades” estão habilitados. Toda semana enviamos ofertas especiais por email de acordo com seus gostos e interesses.</dd>
							</dl>
						</dd>
						<dt><a href="#">Porque em alguns estabelecimentos aparecem “oferta indisponível no momento”?</a></dt>
						<dd>
						  <dl>
							  <p>Isso pode acontecer em dois casos: quando não há mais tickets disponíveis, pois as ofertas são distribuídas ao longo do mês e algumas se esgotam rapidamente; e outra quando a oferta possui algum tipo de segmentação. Saiba mais:</p>
                <dt>- Tickets esgotados</dt>
								<dd>Cada estabelecimento disponibiliza uma cota mensal de tickets, mas nem sempre os benefícios são lançados de uma vez só, pois seguem determinados dias e horários de liberação. Dependendo da promoção, esses tickets podem se esgotar rapidamente, aparecendo na interface o aviso de oferta indisponível. Mesmo esgotados, podem haver desistências no pagamento ou novas liberações de tickets, por isso é importante ficar atento e marcar para ser avisado quando houver tickets disponíveis.</dd>
                <dt>- Segmentação</dt>
								<dd>Algumas ofertas estão atreladas ao perfil e a reputação do usuário no portal. Nesses casos, para a oferta estar disponível você terá que ter um perfil específico ou preencher os critérios mínimos de reputação. Esses critérios são guardados a sete chaves, mas como queremos que você sempre encontre as melhores ofertas, veja como melhorar sua reputação na pergunta abaixo.</dd>
							</dl>
						</dd>
						<dt><a href="#">Como faço para aumentar minha reputação no acessozero?</a></dt>
						<dd>
						  <dl>
							  <dt>- Mantenha seu perfil atualizado</dt>
								<dd>Saber quem você é diz muito para o acessozero. Pensando bem, saber quem você é traz legitimidade para os seus depoimentos. Colocar uma foto no seu perfil, bonita ou não, faz diferença. Pense nisso.</dd>
                <dt>- Compartilhe sua experiência com seus amigos</dt>
								<dd>Demonstrar afeto é um ato saudável; e muito bem indicado. Mas, a amizade vai além do dever de cativar as pessoas que nos cercam. Compartilhe sua experiência e ofertas legais com seus amigos do Twitter, Facebook, Orkut e por email.</dd>
                <dt>- Seja participativo</dt>
								<dd>Participar só por participar não vale a pena. É importante que você se envolva em seus projetos e abrace o que faz de corpo e alma, demonstrando acima de tudo sinceridade e bom senso. Ser o mais concordado ou o mais útil pode tornar você especial.</dd>
                <dt>- Faça uma avaliação depois de utilizar um ticket</dt>
								<dd>O acessozero surgiu para ser uma ponte entre você e os estabelecimentos. Então, faça sua parte: sugira, opine, aconselhe e puxe a orelha se for necessário!</dd>
							</dl>
						</dd>
						<dt><a href="#">Quando eu retiro ou compro um ticket, posso retirar mais tickets do mesmo estabelecimento?</a></dt>
						<dd>
						  <p>Temos dois tipos de tickets, o verde e o dourado.</p>
							<p>Quando o ticket for verde você pode sim retirá-lo novamente e inclusive alguns tickets podem ser comprados em uma quantidade maior.</p>
							<p>Já o ticket dourado é um ticket especial e só pode ser usado uma vez ou uma quantidade de vezes estabelecida pelo estabelecimento. Depois de usar esta quantidade permitida, infelizmente, não é possível realizar outra compra deste ticket.</p>
							<p>As diferenças entre os tickets fazem parte de uma série de acordos que fazemos com os estabelecimentos para que você possa conhecer o lugar e aproveitar ainda mais a sua visita.</p>
							<p>Sempre olhe as regras de uso de cada ticket, é nela que estão todas as especificações.</p>
						</dd>
						<dt><a href="#">Qual a diferença entre comprar e retirar uma oferta?</a></dt>
						<dd>Essa é uma diferença que o usuário não escolhe e depende de cada estabelecimento. Em alguns locais é possível retirar o ticket e pagar direto no caixa do estabelecimento. Por causa do grande número de desperdício, a validade desse ticket é geralmente baixa (em torno de 7 dias). A outra forma existente é você comprar o ticket, pagando no próprio acessozero, que aceita cartão de crédito, débito e boleto, a validade do ticket nesse caso é de normalmente 3 meses.</dd>
						<dt><a href="#">Como faço para comprar uma oferta?</a></dt>
						<dd>O acessozero criou uma página exclusiva para cada oferta disponível no portal, trazendo para você mais informações sobre os produtos e serviços ofertados. <a href="/portal/paymentinfo">Veja nosso passo-a-passo</a> de como comprar uma oferta com segurança e tranquilidade</dd>
					</dl>	
          <h3 class="category">Dúvidas sobre pagamentos</h3>
					<dl>
					  <dt><a href="#">Fiz uma transferência bancária e o status aparece como "aguardando seu pagamento" como devo proceder?</a></dt>
						<dd>Aguarde até 24h, pois o processamento depende do seu banco e ele pode levar este tempo para nos confirmar o pagamento. Se este tempo passar de 24h entre em <a href="/portal/talkwithus">"contato com a gente"</a></dd>
						<dt><a href="#">Não terminei de realizar o pagamento, mas no portal aparece "aguardando o pagamento".</a></dt>
						<dd>Se você escolheu o pagamento via débito bancário e, por algum motivo, não conseguiu concluir sua transação, você poderá ir até o perfil da oferta e reiniciar a sua compra, clicando no botão "Iniciar compra novamente".</dd>
						<dt><a href="#">Depois da compra, qual é o prazo para eu receber meu ticket?</a></dt>
						<dd>Na maioria dos casos o usuário recebe o ticket logo após a compra. Porém em raríssimos casos pode acontecer da confirmação de pagamento demorar algumas horas, pois a operação depende do PagSeguro e bancos envolvidos, que está sujeito a algum atraso.</dd>
						<dt><a href="#">O PagSeguro confirmou o pagamento, mas o acessozero ainda não me enviou o ticket.</a></dt>
						<dd>O PagSeguro pode demorar um pouco para enviar as informações para nosso sistema. Caso o problema persista por mais de 24 horas, anote seu nome completo de usuário, email e o nome do ticket, e envie os dados para contato@acessozero.com.br. Iremos investigar o caso e enviar-lhe uma resposta o mais rápido possível.</dd>
						<dt><a href="#">Por que em algumas ofertas as formas de pagamento se diferenciam?</a></dt>
						<dd>Cada oferta oferecida pelo Acessozero é negociada individualmente para que você consiga o melhor preço pelo benefício. Infelizmente alguns bancos possuem taxas acima da nossa margem de negociação e poderiam tornar a oferta não atrativa. Para evitar que este valor seja repassado, optamos por não disponibilizar estas formas de pagamento, variando conforme a oferta.</dd>
						<dt><a href="#">Como o Acessozero garante um ambiente 100% seguro para a compra de suas ofertas?</a></dt>
						<dd>Para a sua segurança utilizamos a plataforma de pagamentos líder na América Latina - utilizada por mais de 70% dos players da Internet brasileira e por várias grandes multinacionais. Seus dados de pagamento não são armazenados pela Acessozero e a transmissão destes dados é criptografada e enviada para sua operadora / banco.</dd>
					</dl>
				</div>
			</div>
			<div class="baixo"></div>
    </div>
  </div>
</div>
