<div id="corpo">
  <div class="janela grande titulo">
    <div class="cima"></div>
		<div class="meio">
      <h1>Informações - Ajuda</h1>
    </div>
		<div class="baixo"></div>
  </div>
  <div class="grande">
    <div class="janela menu">
      <div class="cima"></div>
			<div class="meio sobre">
			  <div id="help">
				  <h3 class="category">Sobre a plataforma</h3>
					<dl>
            <dt><a href="#">Com que frequência o DealWit.Me me enviará e-mails? Odeio lixo eletrônico!</a></dt>
            <dd>Neste primeiro momento não enviaremos e-mails sobre ofertas para nenhum usuário, se por algum motivo você recebeu algum e-mail sobre ofertas e descontos em nosso nome por favor entre em contato conosco para nos avisar.</dd>
            <dt><a href="#">Gostei da plataforma, mas sinto falta de algo mais portátil. O DealWit.Me ganhará uma versão mobile?</a></dt>
            <dd>Estamos trabalhando para que futuramente o DealWit.Me possa ser acessado a partir de qualquer dispositivo mobile e manteremos nossos usuários informados sobre as novidades nesse sentido.</dd>
					</dl>
				  <h3 class="category">Criando meu perfil</h3>
					<dl>
					  <dt><a href="#">Como faço para me cadastrar no DealWit.Me?</a></dt>
						<dd>Basta acessar o formulário de cadastro de perfil através do link 'Criar Perfil', que pode ser encontrado na parte de cima da página ou no rodapé da página, preencher os campos informados no formulário e salvar o cadastro. Após isso será enviado um e-mail de confirmação para o e-mail informado no formulário com um link para confirmação do cadastro, clique no link recebido e você terá um perfil cadastrado e confirmado no DealWit.Me.</dd>
            <dt><a href="#">Não recebi o e-mail de confirmação, o que faço agora?</a></dt>
            <dd>Caso você tenha feito o seu cadastro corretamente e não tenha recebido o e-mail de confirmação do DealWit.Me, na tela de login, clique no link 'Não recebeu o e-mail de confirmação?', informe seu e-mail na nova página e clique em 'Reenviar' que enviaremos um novo e-mail de confirmação para você.</dd>
            <dt><a href="#">Esqueci minha senha, como faço para recuperá-la?</a></dt>
            <dd>Basta clicar no link 'Esqueci minha senha' na tela de login, informar o e-mail cadastrado no DealWit.Me e clicar em 'Enviar' que enviaremos uma nova senha para você poder voltar a acessar o DealWit.Me sem problemas.</dd>
          </dl>
          <h3 class="category">Compartilhando Ofertas</h3>
          <dl>
						<dt><a href="#">Vi uma ótima oferta em um site e gostaria de indicar para meus amigos. O que preciso fazer?</a></dt>
						<dd>Para compartilhar uma oferta com seus amigos primeiro é preciso estar logado na plataforma. Após o login, basta clicar no link cadastrar oferta que se encontra no menu superior do DealWit.Me e preencher o formulário com os dados da oferta.</dd>
					  <dt><a href="#">Que tipos de ofertas são aceitos no site?</a></dt>
						<dd>No DealWit.Me é possível compartilhar ofertas dos tipos de compras coletivas, liquidação de lojas/sites e ofertas normais.</dd>
						<dt><a href="#">Posso fazer divulgação de produtos no DealWit.Me?</a></dt>
						<dd></dd>
            <dt><a href="#">Posso compartilhar minhas ofertas ou ofertas que achei interessantes em outras redes sociais?</a></dt>
            <dd>Sim, o DealWit.Me permite que você compartilhe as ofertas encontradas na nossa plataforma com qualquer outra rede social. Uma forma rápida de fazer isso é através ds botões 'tweet', 'curti', '+1' e 'share' que são encontrados nas páginas das ofertas.<dd>
          </dl>
          <h3 class="category">Interação com as Ofertas</h3>
          <dl>
            <dt><a href="#">Como a plataforma diferencia ofertas boas e ruins?</a></dt>
            <dd>Para podermos diferenciar as ofertas boas das ruins precisamos da sua ajuda, pois é através dos votos e comentários que determinamos quais são as melhores ofertas compartilhadas no DealWit.Me. Por isso, se gostou de uma oferta, não deixe de comentar e votar nela, e faça o mesmo com as ofertas que você não gostar.</dd>
          </dl>
          <h3 class="category">Interação entre os usuários</h3>
          <dl>
            <dt><a href="#">Como funciona e para que serve seguir as ofertas de outros usuários?</a></dt>
            <dd>Para visualizar de forma mais rápida as ofertas cadastradas por um determinado usuário, é possível segui-lo, e com isso ver as ofertas cadastradas por ele diretamente na sua página de perfil.</dd>
            <dt><a href="#">Para que serve minha credibilidade e o que a influencia? Como ela reflete na minha rede de relacionamentos?</a></dt>
            <dd></dd>
          </dl>
          <h3 class="category">Segurança</h3>
          <dl>
            <dt><a href="#">Os links são seguros? Eles podem me redirecionar para sites maliciosos ou vírus?</a></dt>
            <dd>A equipe do DealWit.Me está sempre de olho nos links para verificar a segurança dos mesmo, mesmo assim tenha cuidado ao acessar links cadastrados em ofertas e/ou comentários, e nos avise sobre qualquer suspeita de sites maliciosos e/ou vírus.</dd>
          </dl>
          <h3 class="category">Fale Conosco</h3>
					<dl>
					  <dt><a href="#">Identifiquei alguns pontos de melhoria na plataforma. Como posso entrar em contato para apontar ideias?</a></dt>
						<dd>Sugestões e críticas são muito bem aceitas pela equipe do DealWit.Me. Para nos mandar sua sugestão/crítica, basta clicar no botão 'feedback' encontrado na parte de baixo da tela e nos dizer o que podemos fazer para atendê-lo melhor.</dd>
					  <dt><a href="#">Sou uma empresa e gostaria de me tornar um parceiro. O que preciso fazer?Como faço para me cadastrar no DealWit.Me?</a></dt>
						<dd>Entre em contato conoso através do dealwitme@dealwit.me.</dd>
            <dt><a href="#">Gostaria de tratar sobre um assunto mais específico. Há algum modo de contatar a equipe do DealWit.Me diretamente?</a></dt>
						<dd>Entre em contato conoso através do dealwitme@dealwit.me.</dd>
					</dl>
				</div>
			</div>
			<div class="baixo"></div>
    </div>
  </div>
</div>
