<div class="span12">
  <div class="window bigWindow">
    <div id="who_are_we_title" class="middle">
      <h1>Como Funciona</h1>
  	</div>
  </div>
					
  <div class="bigWindow">
    <div class="window menu">
  		<div id="who_are_we_text" class="middle about">
  			<div class="whoAreWe">
  			  <div id="how_it_works" class="how">
  					<p>O OfertuS permite que os usuários ganhem comissões ao compartilharem ofertas com seus amigos sem que seja necessário site próprio, com visitantes únicos e conteúdo próprio. Basta compartilhar uma oferta de um dos nossos parceiros na plataforma e divulgar para o máximo de pessoas possível, e o usuário recebe uma comissão em cima de cada compra que for feita através do link compartilhado.</p>
            <%= image_tag "how_it_works.png" %>
            <p>As comissões variam de acordo com cada parceiro assim como suas regras. Na tabela abaixo, são exibidas as informações de cada programa de afiliados que o OfertuS participa, com suas regras. Para que o usuário tenha sua comissão contabilizada, é necessário que a oferta compartilhada seja de algum dos links encontrados na coluna 'Link' na tabela abaixo.</p>
            <table style="width: 95%;" class="table table-striped table-bordered table-condensed">
                <thead>
                  <tr>
                    <th style="text-align: center;" colspan="4">Programas de Afiliados Participantes</th>
                  </tr>
                  <tr>
                    <th>Empresa</th>
                    <th>Situação</th>
                    <th>Comissão por Venda</th>
                    <th>Link</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Americanas.com</td>
                    <td>Aguardando aprovação</td>
                    <td style="text-align: right;">-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>Compra Fácil</td>
                    <td>Participando</td>
                    <td style="text-align: right;">1,5%</td>
                    <td><a href="http://www.comprafacil.com.br/afiliadoscf" target="_blank">www.comprafacil.com.br/afiliadoscf</a></td>
                  </tr>
                  <tr>
                    <td>Hotel Urbano</td>
                    <td>Em contato para parceria</td>
                    <td style="text-align: right;">-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>Groupon</td>
                    <td>Em contato para parceria</td>
                    <td style="text-align: right;">-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
  			  </div>
  	    </div>
  		</div>
    </div>
  </div>
</div>