  <div class="window bigWindow">
    <div class="up"></div>
    <div class="middle">
      <h1>Política de Privacidade</h1>
    </div>
    <div class="down"></div>
  </div>
          
  <div class="window bigWindow">
    <div class="menu">
      <div class="up"></div>
      <div class="middle doc">
        <div class="doc">
          <div class="privacypolicy">
            <div class="title">
              <p><strong>Como o DealWitMe protegerá minhas informações?</strong></p>
            </div>
            <p>A prioridade do DealWitMe é assegurar a privacidade e a segurança das informações cedidas pelos usuários cadastrados. Utilizando dos melhores recursos que estão ao nosso alcance, nosso trabalho objetiva conquistar e manter a confiança dos usuários em nós.</p>
            <p>O DealWitMe se reserva o direito de modificar esta Política de Privacidade a qualquer momento. Todas as modificações serão avisadas através dos nossos veículos oficiais de comunicação com os Usuários, que ao permanecerem no sistema demonstram que concordam com as modificações realizadas.</p>
            <br/>
            <div class="subtitle">
              <p><strong>A Política de Privacidade trata sobre os seguintes assuntos:</strong></p>
            </div>
            <p>1- Informações pessoais coletadas pelo DealWitMe</p>
            <p>2- Como o DealWitMe usa as informações pessoais fornecidas pelos usuários</p>
            <p>3- O que o usuário pode fazer</p>
            <p>4- As obrigações do usuário</p>
            <p>5- Informações importantes</p>
            <p>6- Segurança</p>
            <p>7- Contate o DealWitMe para tratar sobre privacidade</p>
            <br/>
            <div class="subtitle">
              <p><strong>1- Informações pessoais coletadas pelo DealWitMe</strong></p>
            </div>
            <p>O objetivo do DealWitMe em permitir que Usuários voluntariamente coloquem suas informações é facilitar a gestão e o compartilhamento de ofertas. A pro-atividade do usuário em nos ceder seus dados significa que concorda com os termos de privacidade. Caso contrário, o usuário não deve se tornar membro da DealWitMe.</p>
            <p><strong>Cadastro</strong></p>
            <p>Para se tornar um usuário, o primeiro passo é o seu cadastro pessoal, onde nome, login, e-mail e senha são dados obrigatórios. Para finalizar o cadastro, o usuário pode cadastrar suas redes sociais (Twitter e Facebook) para integraçâo e cadastrar uma foto pessoal para seu perfil.</p>
            <p>As informações adicionais podem ser colocadas tanto durante o cadastro, quanto num momento posterior de preferência do usuário para alterar seu perfil pessoal e de sua empresa.</p>
            <p>O preenchimento das informações adicionais é de grande importância para Usuários que queiram receber serviços mais customizados e relevantes, de acordo com o objetivo do DealWitMe de facilitar o processo de decisão de compras online.</p>
            <p><strong>Confidencialidade e privacidade das informações</strong></p>
            <p>O DealWitMe se compromete a obedecer os seguintes padrões em relação à abertura de cada tipo de informação:</p>
            <div class="item"/>
              <p>Informações visíveis para não-usuários do DealWitMe</p>
              <p>Pessoais: nome, login, biografia, comentários e eventos definidos como públicos.</p>
              <p>Informações visíveis para usuários do DealWitMe que não são amigos de um determinado usuário:</p>
              <p>Pessoais: nome, login, biografia, comentários e eventos definidos como públicos ou comunidade.</p>
              <p>Informações visíveis para os amigos de um determinado usuário:</p>
              <p>Pessoais: nome, login, biografia, comentários e eventos definidos como públicos, comunidade ou amigos.</p>
            </div>
            <p>Dentre as possibilidades de informações adicionais, vale reforçar que o e-mail do usuário nunca será exibido para os usuários.</p>
            <p>Eventos definidos como privados pelo usuário não poderão ser exibidos para qualquer que seja o usuário.</p>
            <p><strong>Cookies, Log files, IP e informações sobre o computador</strong></p>
            <p>Cookies são usados para identificar o usuário ou visitante do website.</p>
            <p>Log files: Todos os usuários são rastreados em todas as suas ações.</p>
            <p>IP: Todo usuário é rastreado por seu IP.</p>
            <p>Informações sobre o computador: gravamos dados como navegador, sistema operacional e outras informações úteis para levantamento de estatísticas para identificar perfis de usuário no sistema.</p>
            <p><strong>Permissão para o DealWitMe processar informações sobre o usuário</strong></p>
            <p>As informações cedidas pelos usuários e registradas devido ao uso do sistema (com exceção ao conteúdo de mensagens pessoais) servirão como insumos para o mapeamento de informações de mercado e formação de estatísticas. Através do cadastramento, uso e fornecimento de informações ao DealWitMe, o usuário deliberadamente aceita os Termos de Uso e condições da Política de Privacidade sobre o uso de suas informações.</p>
            <p>O usuário tem o direito de não aceitar esses termos e proceder com a remoção dos seus dados, assim como explicado nos Termos de Uso, mas a remoção dos dados não funcionarão de maneira retroativa, ou seja, as ações anteriores à essa decisão continuarão armazenados e com uso de acordo com os interesses do DealWitMe.</p>
            <p><strong>Direito do usuário de acessar, corrigir e modificar seus próprios dados</strong></p>
            <p>O usuário tem direito de acessar, modificar, corrigir e eliminar os dados sobre ele referentes à sua decisão de ter se tornado um usuário. Se o usuário atualizar qualquer informação, o DealWitMe poderá manter uma cópia das informações anteriores fornecidas por ele em nossos arquivos e documentações sobre uso do sistema.</p>
            <br/>
            <div class="subtitle" >
              <p><strong>2- Como o DealWitMe usa as informações pessoais fornecidas pelos usuários</strong></p>
            </div>
            <p>As informações cedidas pelos usuários que os tornam pessoalmente identificáveis tem como objetivo fazer com os usuários se relacionem melhor com os outros. Informações adicionais coletadas pelo DealWitMe através da análise da navegação de cada usuário e que não o torne identificável pessoalmente (como o padrão de navegação, por exemplo) são de propriedade exclusiva do DealWitMe, que pode usar essas informações do modo que melhor julgar apropriada.</p>
            <p>Além disso, as informações fornecidas são usadas para:</p>
            <div class="item" >
              <p>Administrar a conta dos usuários a fim de customizar cada vez mais os serviços;</p>
              <p>Comunicar novidades e atualizações.</p>
            </div>
            <p>O DealWitMe se compromete a não vender para informações que tornem os usuários pessoalmente identificáveis nem seus contatos para terceiros. Porém, o DealWitMe pode retransmitir mensagens de parceiros.</p>
            <p>O compartilhamento das informações dos Usuários com terceiros acontecerá apenas para oferecer os serviços do DealWitMe.</p>
            <div class="title">
              <p><strong>3- O que o usuário pode fazer</strong></p>
            </div>
            <p>Revisar, melhorar e alterar suas informações pessoais através das páginas de perfil.</p>
            <p>Escolher quais informações pessoais serão visíveis pra as diferentes classificações de contatos.</p>
            <p>Fechar a sua conta no DealWitMe, através do painel de configurações ou mediante pedido aos administradores do site pelo e-mail dealwitme@dealwit.me.</p>
            <div class="title">
              <p><strong>4- As obrigações do usuário</strong></p>
            </div>
            <p>É dever do usuário obedecer aos atuais Termos de Uso e Política de Privacidade, o que inclui respeitar propriedade intelectual de terceiros.</p>
            <p>O usuário não deve executar download, upload ou qualquer forma de disseminação de material ou informação de caráter violento, ofensivo, racista ou xenofóbico ou qualquer um que viole o espírito e objetivos do DealWitMe e sua comunidade de usuários.</p>
            <p>O usuário não deve prover ao DealWitMe e/ou a qualquer outro usuário informações que ele acredite serem danosas à sua pessoa, profissional ou socialmente.</p>
            <div class="title">
              <p><strong>5- Segurança</strong></p>
            </div>
            <p>O DealWitMe faz uso de criptografia de senha e protocolos de confirmação via e-mail para mudanças mais importantes.</p>
            <div class="title">
              <p><strong>6- Contate o DealWitMe para tratar sobre privacidade</strong></p>
            </div>
            <p>Se o usuário tiver qualquer dúvida ou sugestão sobre como o DealWitMe trabalha com a privacidade das suas informações, o melhor caminho para isso é através do dealwitme@dealwit.me ou também qualquer outro canal de comunicação do DealWitMe.</p>
          </div>
        </div>
      </div>
      <div class="down"></div>
    </div>
  </div>