  <div class="window bigWindow">
    <div class="up"></div>
    <div class="middle">
      <h1>Termos de Uso</h1>
    </div>
    <div class="down"></div>
  </div>
          
  <div class="bigWindow">
    <div class="window menu">
      <div class="up"></div>
        <div class="middle doc">
          <div class="doc">
            <div class="termsOfUse">
              <p>Estes Termos de Uso aplicam-se ao uso do site e dos serviços oferecidos pelo OfertUs. Este site e seus serviços têm por objetivo oferecer a consumidores e empresas um aplicativo online para agilizar e melhorar o processo de gestão e compartilhamento de ofertas utilizando como base uma rede social para a interação entre as partes.</p>
              <p>Os Termos de Uso são válidos para quaisquer informações, textos, imagens ou outros materiais que sejam colocados (upload), baixados (download) ou que estejam ligados aos serviços oferecidos pelo OfertUs.</p>
              <p>A aceitação destes Termos de Uso é totalmente indispensável à utilização do site e seus serviços. Todos os Usuários são informados destes Termos de Uso, os quais deverão ler, certificar-se de tê-los entendidos e aceitar todas as condições neles estabelecidas. Deve ficar claro que a utilização do site implica na aceitação total dos seus Termos de Uso.</p>
              <p>O uso dos serviços do OfertUs também é governado pela nossa Política de Privacidade, a qual está incorporada nesse Acordo por esta referência e é encontrada no endereço link para <a href="http://www.ofertus.com.br/pages/privacypolicy" target="_blanck">http://www.ofertus.com.br/pages/privacypolicy.</a></p>
              <div class="subtitle" >
                <p><strong>I – OBJETIVO</strong></p>
              </div>
              <p>O site OfertUs tem como objetivo oferecer um sistema de compartilhamento e gestão de informações sobre ofertas promovendo a interação e o registro de experiências.</p>
              <p>As interações são feitas exclusivamente pelos usuários diretamente conectados entre si e, por isso, sua veracidade são atributos por seu relacionamento social próximo.</p>
              <p>Qualquer usuário que aja fora desse escopo definido, poderá ser punido com o cancelamento de sua ação pelos administradores do site ou até mesmo com a expulsão da rede.</p>
              <div class="subtitle" >
                <p><strong>II – CADASTRO</strong></p>
              </div>
              <p>Os dados informados no cadastro são verdadeiros. O Usuário deve fazer o preenchimento do cadastro com informações exatas, precisas e verdadeiras, também assume o compromisso de atualizar todos os dados que disponibilizar no site, sempre que houver neles alguma alteração. O OfertUs se reserva o direito de utilizar todos os meios válidos e possíveis para identificar seus Usuários.</p>
              <p>Os Usuários garantem e respondem, em qualquer hipótese, pela veracidade, exatidão e autenticidade dos dados que disponibilizarem no site. O OfertUs não se responsabiliza pela correção desses Dados inseridos por seus Usuários. OfertUs também se reserva o direito de solicitar dados adicionais e documentos que entenda serem pertinentes a fim de conferir os dados informados pelo Usuário, assim como inabilitar, temporária ou definitivamente o Usuário que apresentar alguma informação que não seja verdadeira ou que o OfertUs não conseguir contatar para a verificação dos dados. Ao ser cancelado o cadastro do Usuário, automaticamente será cancelado seu acesso ao uso do site e também a qualquer serviço, não assistindo ao Usuário, por esse motivo, qualquer sorte de indenização ou ressarcimento.</p>
              <div class="subtitle" >
                <p><strong>III - MANUTENÇÃO DA CONTA DE ACESSO</strong></p>
              </div>
              <p>O Usuário manterá a senha em sigilo. O Usuário acessará sua conta por meio de seu e-mail e senha, comprometendo-se a não informar a terceiros esses dados, responsabilizando-se integralmente pelo uso que deles seja feito. Compromete-se também a notificar o OfertUs imediatamente, e através de meio seguro, a respeito de qualquer uso não autorizado de sua conta, bem como o acesso não autorizado por terceiros à mesma.</p>
              <p>Caso o Usuário venha a ficar por um período de 6 meses sem movimentar sua conta ou utilizar-se dos serviços oferecidos pelo OfertUs, esta poderá ser imediatamente cancelada com ou sem notificação.</p>
              <p>O OfertUs não pode e não irá se responsabilizar por qualquer perda ou dano causado por falha do usuário em cumprir com os requerimentos acima.</p>
              <div class="subtitle">
                <p><strong>IV - MODIFICAÇÃO DOS TERMOS DE USO</strong></p>
              </div>
              <p>O OfertUs pode Mudar seus Termos de Uso. O OfertUs reserva-se o direito de modificar quaisquer dos termos e condições contidas neste Acordo, a qualquer tempo, por meio de atualização do mesmo no site. Estas modificações entrarão em vigor 15 dias após sua publicação no site.</p>
              <p>Caso as modificações a serem realizadas neste Termo de Uso não sejam aprovadas pelo Usuário, cabe a ele o direito de recusar as novas condições e rescindir este Termo de Uso no prazo de 10 dias contados da data da publicação referente à modificação. A rescisão deste Termo é feita através da extinção de sua conta de acesso, a ser realizada pelo próprio Usuário.</p>
              <p>Na hipótese do Usuário continuar participando do site e serviços do OfertUs, após 15 dias contados da publicação no site, referente às modificações nos Termos de Uso, isso indicará que ele concordou com todas as modificações comunicadas.</p>
              <div class="subtitle">
                <p><strong>V - RESPONSABILIDADES DO USUÁRIO</strong></p>
              </div>
              <p>O usuário declara e garante que todos os conteúdos inseridos por ele no OfertUs:</p>
              <div class="item">
                <p>(i) estão de acordo com todas as leis, os estatutos, os decretos e os regulamentos aplicáveis;</p>
                <p>(ii) não infringem, nem infringiram qualquer obrigação ou direito de qualquer pessoa ou entidade incluindo, sem limitação, direitos de propriedade intelectual, publicidade ou privacidade, ou direitos e deveres incluídos no direito do consumidor, responsabilidade do produto, delito ou teorias de contrato; e</p>
                <p>(iii) não são pornográficos ou violentos e nem incitam à violência. Não infringir as regras do OfertUs dispostas neste Termo de uso.</p>
              </div>
              <p>São responsabilidades do usuário:</p>
              <div class="item">
                <p>I) Agir de Acordo com a Moral:</p>
              </div>
              <p>O Usuário compromete-se, em geral, a utilizar o site e seus serviços em conformidade com os presentes Termos de Uso do OfertUs, com a lei, a moral e os bons costumes aceitos e a ordem pública.</p>
              <div class="item">
                <p>II) Não explorar maliciosamente a segurança do sistema:</p>
              </div>
              <p>O Usuário se compromete a utilizar o site e seus serviços de forma adequada e diligente, assim como se abster de utilizá-lo com objetivos ou meios para a prática de atos ilícitos, proibidos pela lei e pelos presentes Termos de Uso, lesivos aos direitos e interesses de terceiros, ou que, de qualquer forma, possa danificar, inutilizar, sobrecarregar ou deteriorar o site e seus serviços, bem como os equipamentos de informática de outros Usuário ou de outros internautas (hardware e software) assim como os documentos, arquivos e toda classe de conteúdos armazenados nos seus equipamentos de informática ou impedir a normal utilização ou gozo do site e seus serviços, equipamentos de informática e documentos, arquivos e conteúdos por parte dos demais Usuários e de outros internautas.</p>
              <div class="item">
                <p>III) Manter cópia de dados que julguem importantes:</p>
              </div>
              <p>O OfertUs é um site para organização de informações de ofertas e pode passar por períodos de manutenção ou mesmo ter alguma perda de dados, assim não é aconselhável que se deposite somente no OfertUs dados que julguem importante.</p>
              <div class="item">
                <p>IV) Saber quais materiais postados no site são materiais públicos:</p>
              </div>
              <p>O material, informações e dados inseridos nas comunidades virtuais públicas e nos perfis estão sujeitas a serem inseridas nos mecanismos de busca dependendo da configuração efetuada pelo próprio Usuário na parte de privacidade do OfertUs.</p>
              <div class="item">
                <p>V) Envio e Recebimento de Arquivos no OfertUs:</p>
              </div>
              <p>O armazenamento de arquivos é de responsabilidade dos usuários que realizam a operação, e não do OfertUs. Assim cabe ao usuário verificar se o arquivo solicitado ou enviado contém vírus ou não. E também, verificar se o conteúdo do arquivo corresponde ao que nele é anunciado.</p>
              <div class="item">
                <p>VI) Divulgar, Anunciar ou Veicular MMN (Marketing Multi-Nível):</p>
              </div>
              <p>O OfertUs não permite qualquer tipo de divulgação de produtos / serviços ou recrutamento de empresas ou pessoas que fazem uso de MMN (Marketing Multi-Nível). Podendo, para isso usar diversas outras comunidades virtuais na Internet própria pra isso.</p>
              <div class="item">
                <p>VII) Agir de Acordo com os Limites da Liberdade de Expressão:</p>
              </div>
              <p>Dentro do OfertUs há liberdade de expressão. Porém, deve-se respeitar as pessoas e instituições não agindo de forma a praticar Calúnia, Injúria ou Difamação como descritos nos artigos 138, 139 e 140, respectivamente do Código Penal Brasileiro. Portanto, é proibido ofender ou fazer julgamentos morais a terceiros dentro do site, estando sujeito à exclusão do perfil, como às penalidades previstas na lei pela parte prejudicada.</p>
              <p>Ao mesmo tempo, é preciso diferenciar o descrito acima do direito do Usuário de expressar descontentamento com outra empresa também inscrita na OfertUs através de uma avaliação negativa (se existir a conexão entre as duas partes).</p>
              <div class="item">
                <p>VIII) Qualquer negócio feito a partir de contatos feitos através do OfertUs</p>
              </div>
              <p>É responsabilidade dos usuários todo e qualquer negócio realizado com outros usuários, independente do contato entre as partes ter sido originado no OfertUs. Por isso, é importante que antes de fechar negócio com qualquer empresa, exista uma maior verificação da outra parte, já que o OfertUs não tem nenhuma responsabilidade sobre qualquer transação comercial.</p>
              <div class="item">
                <p>IX) Reportar abuso de outros usuários</p>
              </div>
              <p>É responsabilidade de cada usuário reportar abuso realizado por outro usuário, quando se sentir prejudicado, ameaçado ou ao verificar atividades suspeitas, sempre que fujam das regras determinadas pelos Termos de Uso e Política de Privacidade. O usuário denunciado é passível de exclusão da rede, caso constatado o abuso.</p>
              <p>A denúncia deve ser feita através do envio de e-mail para equipe do OfertUs(contato@ofertus.com.br).</p>
              <div class="item">
                <p>X) Ter 18 anos ou mais</p>
              </div>
              <p>Cada usuário é responsável por suas próprias ações no sistema e, por isso, precisam responder legalmente por elas.</p>
              <div class="item">
                <p>XI) Postagem de links pelo usuário</p>
              </div>
              <p>Ao inserir um link, o usuário é responsável pelo preço inserido ao produto. Caso ocorra inconsistência entre o valor inserido pelo usuário e o site indicado pelo link em questão, o OfertUs não se responsabiliza por essa diferença de valor. O OfertUs tem permissão para inserir o código de afiliado, caso o possua, em links que o usuário inserir em seu perfil, podendo assim ganhar comissão no ato da compra do produto pelo cliente através do link.</p>
              <div class="subtitle">
                <p><strong>VI - LINKS</strong></p>
              </div>
              <p>Os serviços do OfertUs poderão conter links para websites ou fontes terceiros. O usuário está ciente e concorda que o OfertUs não é responsável por:</p>
              <div class="item">
                <p>(i) disponibilidade ou acurácia de tais websites ou fontes; ou</p>
                <p>(ii) o conteúdo, os produtos ou serviços disponíveis nesses websites e fontes.</p>
              </div>
              <p>Links para tais websites ou fontes não implicam em nenhum aval pelo OfertUs sobre tais ou seus conteúdo, produtos ou serviços disponíveis. O usuário reconhece total responsabilidade sobre isso e assume todos os riscos que possam surgir do uso de tais websites e fontes.</p>
              <div class="subtitle">
                <p><strong>VII - DOS DIREITOS AUTORAIS</strong></p>
              </div>
              <p>O Usuário não deve infringir direitos de terceiros, sobretudo aqueles atinentes aos direitos personalíssimos (incluindo, mas não se limitando a: honra, nome e imagem da pessoa) ou direitos autorais (tais como reproduzir, modificar ou divulgar obra alheia sem expressa autorização do titular).</p>
              <p>Os materiais passíveis de proteção autoral são descritos sob a égide da Lei nº. 9.610/98. Em regra, o Usuário é titular dos direitos autorais de toda e qualquer obra que disponibilizar no site, seja na qualidade de autor, detentor de autorização do titular original dos direitos ou ainda como cessionário dos direitos patrimoniais da respectiva obra, salvo quando tal obra estiver consagradamente em domínio público ou sujeita às exceções legais previstas na Lei nº. 9.610/98.
              O Usuário, ao aceitar esses Termos de Uso do OfertUs, autoriza o acesso aos materiais inseridos no site por outros Usuários devidamente cadastrados, além dessas obras estarem sujeitas a serem inseridas em mecanismos de busca, com exceção para as informações colocadas neste Acordo em “RESPONSABILIDADE DO USUÁRIO - Materiais postados no site são materiais públicos”.</p>
              <p>O Usuário se responsabiliza pelas obras que inserir no OfertUs e deverá observar a legislação em vigor, tanto sob o aspecto formal (como a questão dos direitos autorais) quanto para o conteúdo (que não deverá violar as regras positivas nem os bons costumes e os princípios gerais da sociedade).</p>
              <p>Sendo assim, o OfertUs não se responsabilizará civil ou penalmente em virtude de eventuais danos, morais ou materiais, causados pelas obras inseridas no site, sejam esses danos causados a outros usuários cadastrados ou a terceiros que porventura não estejam cadastrados como usuários da OfertUs.</p>
              <p>O Usuário envolvido em denúncias de irregularidades ou infrações a direitos de terceiros se compromete, portanto, a eximir o OfertUs de eventuais litígios decorrentes do dano que causou. Caso a OfertUs seja imputada responsável por quaisquer danos morais ou materiais em virtude de inserção irregular e danos a terceiros, o OfertUs promoverá ação indenizatória contra o usuário, sendo que este aceita desde já a arcar com todas as custas processuais e honorários advocatícios decorrentes dessa ação judicial.</p>
              <p>Através deste acordo, o Usuário mantém seus direitos sobre todo conteúdo que submeter, postar ou mostrar no OfertUs. Ao submeter, postar ou mostrar conteúdo no OfertUs, o usuário cede ao OfertUs uma licença global, livre do pagamento de royalties (com direto de sublicenciá-la) e não-exclusiva para usar, copiar, reproduzir, processar, adaptar, adaptar, modificar, publicar, transmitir, mostrar e distribuir esse conteúdo em qualquer veículo de mídia ou método de distribuição (conhecido hoje ou que seja desenvolvido no futuro), enquanto o Usuário continuar participando da OfertUs e seu perfil ativado.</p>
              <p>O Usuário concorda que a licença inclui o direito para o OfertUs disponibilizar esse conteúdo para outras empresas, organizações ou indivíduos que fizerem parcerias com o OfertUs para a transmissão, distribuição ou publicação desse conteúdo em outros veículos de mídia e serviços, sendo estes sujeitos aos nossos termos e condições. Esses usos adicionais sobre o conteúdo podem ser feitos sem compensação financeira.</p>
              <div class="subtitle">
                <p><strong>VIII - O SPAM É PROIBIDO</strong></p>
              </div>
              <p>O Usuário não usará o site OfertUs para transmitir, seja direta ou indiretamente, nenhum email em massa nem email comercial não solicitado. Também não usará o site do OfertUs de nenhuma maneira que viole as Políticas Anti-Spam existentes no país. A sua transgressão constitui uma violação deste Contrato. O OfertUs pode usar tecnologia de filtragem ou outras medidas para barrar emails em massa e emails comerciais não solicitados e, se o seu uso do site OfertUs incluir serviços de email relacionados, então, tal tecnologia de filtragem ou outras medidas podem bloquear, seja temporária ou permanentemente, alguns emails enviados ao usuário por meio do site do OfertUs, até mesmo se tais emails não violarem a Política Anti-Spam.</p>
              <p>Os dados, assim como o e-mail dos usuários não serão em hipótese alguma vendidos ou fornecidos a terceiros sem a autorização expressa do mesmo. O OfertUs pode apenas fazer campanha de e-mail Marketing com parceiros, caso o usuário assinalar que aceita esse tipo de e-mail ao fazer seu cadastro no OfertUs, e essas campanhas estejam de acordo com o ramo profissional do usuário.</p>
              <div class="subtitle">
                <p><strong>IX - DIREITO DE PUBLICIDADE</strong></p>
              </div>
              <p>O OfertUs tem total direito a colocar publicidade em todo o site, salvo páginas nas quais acordos sejam feitos com cada Usuário separadamente.</p>
              <p>O objetivo de mostrar anúncios é prover algo útil para os anunciantes e para os Usuários, já que estes aumentarão a agilidade para que cada Usuário conheça novas empresas com possibilidade de negócios.</p>
              <div class="subtitle">
                <p><strong>X - COBRANÇA DO SERVIÇO</strong></p>
              </div>
              <p>O serviço básico oferecido pelo OfertUs de organização de compras online é gratuito, mas serviços adicionais tanto do OfertUs quanto de seus parceiros podem ser cobrados mediante a novo acordo e aviso obrigatório no site.</p>
              <div class="subtitle">
                <p><strong>XI – OS PRINCÍPIOS DO DEALWIT.ME</strong></p>
              </div>
              <p>Os dados de login de Usuários, incluindo seu e-mail e sua senha, jamais serão fornecidos para qualquer terceiro.</p>
              <p>Somos responsáveis por manter sua senha segura. A senha é armazenada com criptografia de modo que ninguém conseguirá decifrá-la.</p>
              <p>Integridade, consistência e manutenção dos dados.</p>
              <p>Compromisso de atendimento ao cliente.</p>
              <div class="subtitle">
                <p><strong>XII - CONCORDÂNCIA COM OS TERMOS</strong></p>
              </div>
              <p>Os Usuários concordam com todos os pontos apresentados nestes Termos de Uso para utilizarem livremente os serviços do OfertUs.</p>
              <div class="subtitle">
                <p><strong>XIII - LEGISLAÇÃO APLICÁVEL E FORO DE ELEIÇÃO</strong></p>
              </div>
              <p>Os presentes Termos de Uso são regidos pela legislação vigente na República Federativa do Brasil.</p>
              <p>Fica eleito como foro competente para solucionar eventuais controvérsias decorrentes do presente Termos de Uso o Foro da Comarca de Niterói, Estado do Rio de Janeiro.</p>
            </div>
          </div>
        </div>
        <div class="down"></div>
      </div>
    </div>
  </div>  