<div id="corpo">
  <div class="janela grande titulo">
    <div class="cima"></div>
    <div class="meio">
      <h1>Sobre o DealWit.Me - Quem somos</h1>
  	</div>
    <div class="baixo"></div>
  </div>
					
  <div class="grande">
    <div class="janela menu">
  		<div class="cima"></div>
  			<div class="meio sobre">
  				<div class="quemSomos">
  					<div class="weAre">
  						<h2>Somos um Guia de Opiniões e Ofertas.</h2>
  						<p>Aqui você encontrará <strong>ofertas e opiniões</strong> para diversos tipos de produtos e serviços.</p>
  						<p>Estas <strong>ofertas</strong> são oferecidas <strong>diariamente</strong> para que você possa <strong>experimentar diferentes</strong> lugares na sua cidade. Depois, basta <strong>compartilhar dicas</strong> sobre estes lugares.</p>
  					  <p>Sua <strong>opinião</strong> e a de outros usuários nos ajuda a manter a <strong>qualidade das nossas ofertas</strong> e parcerias, além de você ficar sabendo dos <strong>melhores lugares</strong> para ir na cidade.</p>
  					</div>
  					<div class="how">
  						<h5>Como fazemos tudo isto?</h5>
  						<p>Criamos uma <strong>estrutura bastante alinhada com os objetivos</strong> do acessozero e colocamos nossos <strong>usuários como alvo</strong> de tudo isto, veja como:</p>
  						<p><strong>Estabelecimentos</strong> - Nossos parceiros entendem e tem a preocupação de atender bem nossos clientes, pois sabem que eles sempre vão avaliá-los. Ter um ticket do acessozero passou a ser <strong>sinônimo de atenção</strong>.</p>
  						<p><strong>Recomendações</strong> - Quando você visualiza um estabelecimento ou uma oferta vai também poder ver o que nossa <strong>comunidade está recomendando</strong>, pois além das avaliações, os usuários dividem as experiências de consumo.</p>
  						<p><strong>Comunidade</strong> - Nossa comunidade é bastante participativa, fazendo avaliações, dando dicas e cada vez mais estamos criando funcionalidades para aumentar essa <strong>interação</strong>.</p>
  						<p><strong>Ofertas</strong> - Nossas ofertas são disponibilizadas rapidamente e você pode buscar exatamente <strong>aquilo que precisa</strong>, pois temos <strong>variedade de ofertas</strong>.</p>
  						<p><strong>Agora que você sabe quem somos nós, aproveite e seja muito bem-vindo!</strong></p>	
  						<p>
  							<strong>Equipe acessozero.</strong> <br>
  						  <a href="mailto:contato@acessozero.com.br" title="contato@acessozero.com.br">contato@acessozero.com.br</a>
  					  </p>
  				  </div>
          </div>
  			</div>
        <div class="baixo"></div>
      </div>
    </div>
  </div>
</div>
