<div class="span12">
  <div class="window bigWindow">
    <div id="who_are_we_title" class="middle">
      <h1>Sobre o OfertUs - Quem somos</h1>
  	</div>
  </div>
					
  <div class="bigWindow">
    <div class="window menu">
			<div id="who_are_we_text" class="middle about">
				<div class="whoAreWe">
					<div class="weAre">
						<h2>O Que é o OfertUs?</h2>
						<p>O OfertUs é uma plataforma social online voltada para a agregação de informações a respeito de ofertas em produtos e serviços, que permite a interação dos usuários através de ferramentas de relacionamento e compartilhamento, de modo a facilitar as decisões dos consumidores. A plataforma tem como premissa suprir a necessidade dos internautas de garimparem oportunidades na internet.</p>
					</div>
					<div class="how">
						<h5>Como assim?</h5>
						<p>O presente dos seus sonhos sendo vendido a preço de banana em um mega-portal da internet, e você não viu? Viu uma grande promoção em um site de compras coletivas, mas ela venceu ontem? Ótimas ofertas estão por aí o tempo todo, mas é possível que exemplos como estes e muito mais estejam disponíveis na internet por uma bagatela e você não saiba.
</p>
						<h5>Por que, então, não existe um lugar para compartilharmos com nossos amigos as ofertas da internet que achamos mais interessantes?</h5>
						<p>Ou você quer comprar um produto e gostaria de saber mais informações sobre ele,  não seria ótimo saber as experiências de quem já o tem? Você também pode compartilhar suas próprias opiniões. Essa é a intenção do OfertUs, permitir a interação dos usuários para que as boas ofertas não fiquem restritas a poucas pessoas.</p>
						<p><strong>Afinal, quem não gosta de um bom desconto?</strong></p>	
						<p>
							<strong>Equipe OfertUs.</strong> <br>
						  <a href="mailto:contato@ofertus.com.br" title="contato@ofertus.com.br">contato@ofertus.com.br</a>
					  </p>
				  </div>
        </div>
			</div>
    </div>
  </div>
</div>