<div class="defaultWindow pageTitle greyBackground">
  <h1>Ofertas do Dia</h1>
</div>
<div class="main">
  <div class="dealsMap">
    <div class="defaultWindow greyBackground dealsList" id="dealsList">
      <div class="content">
        <div class="content defaultDeal">
          <div class="zero-PagingTable">
            <div class="zero-PagingTableGrid">
              <% if @deals.empty? %>
                <h4> Não há ofertas cadastradas hoje ainda, seja o primeiro a compartilhar uma oferta com seus amigos!</h4>
              <% else %>
                <% @deals.each_with_index do |deal, index| %>
                  <%= render :partial => 'deals/deal', :locals => {:deal => deal, :index => index} %>
                <% end %>
                <%= will_paginate @deals %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
