<div id="result_tools">
  <!-- TODO: Rever essa parte abaixo -->
  <div class="lista_todas_cidades_full">
    <div class="cidades_drop">
      <div class="botao_listar_todas_cidades_div">
        <a href="#" class="botao_listar_todas_cidades" onclick="toogleDropCidade(); return false;">Rio de Janeiro <span>- 1436 ofertas</span> <img src="http://imagem.zipme.com.br/css/images/listar_cidade_botao.gif" alt="Ver todas as cidades" /></a>
      </div>

      <div class="lista_todas_cidades_bg">
        <div class="lista_todas_cidades">
          <ul>
             <li><a href="/compra-coletiva/oferta-nacional/">Oferta Nacional </a></li>
             <li><a href="/compra-coletiva/sao-paulo/">São Paulo </a></li>
             <li><a href="/compra-coletiva/rio-de-janeiro/">Rio de Janeiro </a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- TODO: Rever essa parte abaixo -->
    <div class="ordenar_drop">
      <div class="div_ordenar_resultados">
        <a href="#" class="botao_ordenar_resultados" onclick="toogleDropOrdenar(); return false;"> Ordenar por <img src="http://imagem.zipme.com.br/css/images/listar_cidade_botao.gif" alt="Ordenar" /></a>
      </div>

      <div class="ordenar_resultados_novo_bg">
        <div class="ordenar_resultados_novo">
          <ul>
           <li><a href="#" onclick="alteraOrdenarPor('ordenar_por',false);">Ordenar por</a></li>
           <li><a href="#" onclick="alteraOrdenarPor('desconto',false);">Maior Desconto</a></li>
           <li><a href="#" onclick="alteraOrdenarPor('menor_preco',false);">Menor Pre&ccedil;o</a></li>
           <li><a href="#" onclick="alteraOrdenarPor('novas_ofertas',false);">Novas Ofertas</a></li>
           <li><a href="#" onclick="alteraOrdenarPor('tempo_restante',false);">Tempo Restante</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>

<%= default_deal(@deals) %>
