<div class="janelaPadrao chapeu fundoCinza">
  <h1>Ofertas do Dia</h1>
</div>

<div class="principal">
  <div class="estabelecimentosMapa">
    <div class="janelaPadrao estabelecimentosPadrao abas" id="sitesPanelView">
      <div class="conteudo">
        <div class="alerta alertaAviso" style="display: none; "></div>
        <ul class="abasPadrao">
          <li class="ofertas"><a tabindex="0" class="ativo" href="javascript:;">Ofertas quentes</a></li>
          <li class="avaliacoes"><a tabindex="0" class="gwt-Anchor" href="javascript:;">Mais bem avaliados no mês</a></li>
          <li class="ordemAlfabetica"><a tabindex="0" class="gwt-Anchor" href="javascript:;">Ordem alfabética</a></li>
        </ul>

        <div class="conteudo">
          <div class="zero-PagingTable">
            <div class="zero-PagingTableGrid">
              <% @deals.each_with_index do |deal, index| %>
                <%= render :partial => 'deals/deal', :locals => {:deal => deal, :index => index} %>
              <% end %>

              <%= will_paginate @deals %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
