<p><%= I18n.t('devise.mailer.welcome') %> <%= @resource.username %>!</p>

<p><%= I18n.t('devise.mailer.confirmation_instructions.message') %></p>

<p><%= link_to(I18n.t('devise.mailer.confirmation_instructions.confirm'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)) %></p>
